@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Lato:wght@300;400;700&family=Montserrat:wght@400;700&family=PT+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: linear-gradient(90deg, rgba(217,215,215,1) 33%, rgba(245,231,246,1) 95%);
    padding: 0 10px;
    
}

.wrapper
{
    max-width: 400px;
    width: 100%;
    background: #fff;
    margin: 40px 30px;
    padding: 30px;
    box-shadow: 0px 10px 63px rgb(255 48 48 / 52%);
    border-radius: 20px;
}

.wrapper .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 35px;
    color: #fec107;
    text-transform: uppercase;
    text-align: center;
}

.wrapper .form .input_field
{
     margin-bottom: 15px;
     display: flex;
     align-items: center;
}

.wrapper .form .input_field label{
    width: 200px;
    color: black;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 400;
}

.wrapper .form .input_field .input{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.wrapper .form .input_field .btn{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: #fec107;
    color:#fff;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}

.wrapper .form .input_field .input .img{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: #fec107;
    color:#fff;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}

.wrapper .form .input_field .btn:hover{
    background: #ffd658;
}

table{
    margin-top: 50px;
    text-align: center;
    background: #333;
    color: #fff;
    margin-right: 70px;
    border-radius: 15px;
}

#show th {
    padding: 13px;
}

.parent{
    display: flex;
    justify-content: space-between;

}